body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    width: 600px;
    height: 652px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.frame {
    width: 90%;
    height: 90%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 10px solid rgba(0, 0, 0, 0.4);
    border-radius: 20px;
}

/* Player panel */
.player_panel {
    display: flex;
    margin: 64px 0;
    font-size: 32px;
}

.player_panel div {
    display: flex;
    background-color: rgb(249, 245, 245);
    margin: 0 16px;
    padding: 8px;
    border: 2px solid black;
    border-radius: 5px;

}

.player_inaktive {
    opacity: 0.3;
}

.player_panel img {
    width: 30px;
    height: 30px;
    margin: 0 16px;
    margin-top: 4px;
}

/* Playing field */
table {
    border-collapse: collapse;
    margin-bottom: 50px;
}

tr:first-child td {
    border-top: 0;
}

tr:last-child td {
    border-bottom: 0;
}

tr td:first-child {
    border-left: 0;
}

tr td:last-child {
    border-right: 0;
}

td {
    width: 133px;
    height: 133px;
    border: 5px solid black;
    position: relative;
    cursor: pointer;
}

td:hover {
    background-color: rgba(26, 221, 0, 0.03);
}

.img_cross_circle {
    position: absolute;
    width: 80px;
    height: 80px;
    bottom: 26px;
    left: 26px;
}

.d_none {
    display: none;
}

/* Lines (horizontal, vertical, diagonal */
.horizontal_line {
    position: absolute;
    left: 94px;
    width: 350px;
    height: 5px;
    background-color: rgba(169, 161, 161, 0.5);
    transform: scaleX(1);
    transition: transform 400ms ease-in-out;
    z-index: -10;
}

.transform_vertical {
    transform: rotate(90deg) scaleX(1);
    top: 360px;
    transition: transform 400ms ease-in-out;
}

.transform_diagonal_left {
    transform: rotate(45deg) scaleX(1);
    top: 360px;
    left: 48px;
    transition: transform 400ms ease-in-out;
}

.transform_diagonal_right {
    transform: rotate(-45deg) scaleX(1);
    top: 360px;
    left: 46px;
    transition: transform 400ms ease-in-out;
}

/* Endscreen */
.container_endscreen {
    position: relative;
    width: 600px;
    height: 652px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game_over {
    position: absolute;
    top: 100px;
}

.img_game_over {
    width: 530px;
}

.link_btn_play_again {
    position: absolute;
    top: 415px;
}

.btn_play_again {
    width: 240px;
    height: 80px;
    background-color: rgb(28 10 127);
    border: 2px solid rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    color: white;
    font-size: 30px;
}

/* @media */
@media(max-width: 600px) {
    body {
        width: 100lvh;
        transform: scale(0.9);
        transform-origin: 0 0;
    }
}